:root {
    --background-color: #EAEAEA;
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}
  
.html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.menu {
    flex: 0 0 60vw;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.3rem auto;
    padding: 0;
}

.list__element {
    display: inline;
}

.menu__item {
    color: black;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s;
}

.menu__item:hover {
    text-shadow: black 1px 1px 3px;
}

.main {
    display: flex;
    flex: 1;
    overflow: auto;
    justify-content: center;
    border: 2vh solid rgba(0, 0, 0, 0);
}

.aside {
    flex: 0 0 15vw;
    background-color: var(--background-color);
}

.section {
    flex: 0 0 45vw;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.footer-container {
    display: flex;
    flex: 0 0 60vw;
    flex-wrap: wrap;
    justify-content: space-between;
}